:root {
  --base: 190, 65%;
  --base-bright: hsl(var(--base), 75%);
  --base-light: hsl(var(--base), 23%);
  --base-mid-light: hsl(var(--base), 12.5%);
  --base-mid: hsl(var(--base), 10%);
  --base-dark: hsl(var(--base), 3%);
  --secondary: hsl(5, 83%, 58%);;
  --tertiary: hsl(61, 32%, 66%);

  --font: monospace;

  --edit-letter-spacing: normal;
}

body {
  background-color: var(--base-dark);
  border: 1px solid var(--base-light);
  color: var(--base-bright);
  font-family: var(--font);
  margin: 0.25rem;
  padding: 0.25rem;
}

div {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

main {
  background-color: var(--base-mid);
  padding-block: 0 0.875rem;
  position: relative;
}

main::before {
  block-size: 0.625rem;
  border: 1px solid var(--base-light);
  content: "";
  inline-size: 0.625rem;
  inset-block: 0.9375rem;
  inset-inline: 0.875rem;
  position: absolute;
  transform: rotate(45deg);
}

main::after {
  background-image: linear-gradient(transparent, transparent 48%, var(--base-light) 48%, var(--base-light) 52%, transparent 52%, transparent);
  block-size: 0.875rem;
  border-inline-start: 1px solid var(--base-light);
  content: "";
  inline-size: 0.875rem;
  position: absolute;
  right: 0.875rem;
  top: 0.875rem;
}

h1 {
  color: var(--secondary);
  font-weight: normal;
  margin-block: 0 1rem;
  margin-inline: auto;
  padding-block-start: 0.4375rem;
  position: relative;
  text-decoration: underline overline;
  text-decoration-color: var(--base-light);
  max-inline-size: max-content;
}

h1::before,
h1::after {
  background-color: var(--tertiary);
  block-size: 2px;
  content: "";
  inline-size: 2px;
  position: absolute;
}

h1::after {
  background-image: linear-gradient(var(--base-bright), var(--bright) 1px, var(--base-light) 1px, var(--base-light) 2px, var(--tertiary) 2px, var(--tertiary));
  block-size: 4px;
  inset-block-end: 2px;
  inset-inline: 0;
}

ul {
  font-size: 1.125rem;
  margin: 0.5rem 0.875rem 0;
  margin-inline: min(0.875rem, 5vw);
  max-inline-size: fit-content;
  outline: 1px solid var(--base-light);
  padding: 1rem min(0.875rem, 5vw);
  position: relative;
}

ul.checkable {
  list-style: none;
}

ul.checkable::after {
  background-color: var(--base-mid-light);
  border-block-start: 1px solid var(--base-light);
  color: var(--tertiary);
  content: "";
  inset-block-end: 0;
  inset-inline: 0;
  letter-spacing: var(--edit-letter-spacing);
  line-height: 2.75rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-orientation: upright;
  block-size: 2.75rem;
  writing-mode: vertical-lr;
}

li {
  display: flex;
  margin-block-end: 0.25rem;
  margin-inline-end: 2.75rem;
  padding-block: 0.25rem;
}

li:has(input:checked) {
  text-decoration: line-through;
  text-decoration-color: var(--tertiary);
}

li::before {
  background-color: var(--secondary);
  content: "";
  inline-size: 1px;
  transform: scale(0);
  transform-origin: center;
  transition: 200ms transform ease-in;
}

li:hover::before,
li:focus-within::before {
  transform: scale(1);
}

label {
  align-items: center;
  display: flex;
}

span {
  display: grid;
  place-items: center;
}

/* Couldn't have done this without https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type=checkbox] {
  accent-color: var(--base-bright);
  appearance: none;
  -webkit-appearance: none;
  block-size: 2.75rem;
  border: 1px solid var(--base-bright);
  display: grid;
  inline-size: 2.75rem;
  margin-inline-end: 0.875rem;
  place-items: center;
}

input[type=checkbox]::before {
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent calc(50% - 0.5px),
    var(--base-bright) calc(50% - 0.5px),
    var(--base-bright) calc(50% + 0.5px),
    transparent calc(50% + 0.5px),
    transparent
    ),
    linear-gradient(
    315deg,
    transparent,
    transparent calc(50% - 0.5px),
    var(--base-bright) calc(50% - 0.5px),
    var(--base-bright) calc(50% + 0.5px),
    transparent calc(50% + 0.5px),
    transparent
  );
  block-size: 100%;
  content: "";
  display: block;
  inline-size: 100%;
  transform: scale(0);
  transform-origin: center;
  transition: 200ms transform linear;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:focus-visible {
  outline: none;
}

menu {
  --size: min-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0.875rem 0;
  margin-inline-size: min(0.875rem, 5vw);
  max-inline-size: var(--size);
  padding: 0;
}

button {
  appearance: none;
  block-size: 2.75rem;
  border: 1px solid var(--tertiary);
  inline-size: 2.75rem;
  padding: 0;
}

#delete-checked {
  background-color: var(--secondary);
}

#checked-to-bottom {
  background-color: var(--base-dark);
}

svg {
  inline-size: 2.3rem;
}

#delete-checked path {
  fill: var(--base-dark);
}

#checked-to-bottom path {
  fill: var(--base-light);
}

